<!DOCTYPE html>
<html>
    <head>
        <meta charset utf-8></meta>
        <title>Forum</title>
        <link rel="stylesheet" href="/static/stylesheet.css">
    </head>
<title>Forum</title>
<h1>FORUM</h1>

<table>
    {% for topic in topics %}
    <tr>
        <td>
            <a href="{{ links[topic[0]].url }}">{{ links[topic[0]].name|upper }}</a>
            
        </td>
        <td>Number of threads: {{ thread_count[topic[0]] }} <br>
            Number of messages: {{ m_count[topic[0]]}}
        </td>
        {% if last_m[0] == "0" %}
            <td>No posts</td>
        {% else %}
            <td>Last post: {{ last_m[topic[0]][2].strftime("%Y-%m-%d %H:%M:%S") }} <br> 
                by: {{ last_m[topic[0]][1] }} 
            </td>
        {% endif %}
    </tr>
    {% endfor %}
    

</table>
<br>
{% if session.user_id %}
Logged in.
<br>
    {% if is_admin %}
    <h3>Add topic</h3>
    <form action="/add_topic" method="POST">
        Topic: 
        <textarea name="content" rows="1" cols="20"></textarea>
        <input type="submit" value="Send">
    </form>
    {% endif %}

<br>
<a href="/logout">Log out</a> | <a href="/change_password">Change password</a>
{% else %}
<br>
<a href="/login">Log in</a>
{% endif %}
</html>