<!DOCTYPE html>
<html>
    <head>
        <meta charset utf-8></meta>
        <title>Forum</title>
        <link rel="stylesheet" href="/static/stylesheet.css">
    </head>
    <body>
        <h2>{{ thread[0] }}</h2>
        <hr>
        {% for message in messages %}
        <p><i>Message:</i> {{ message[0] }}</p>
        <i>By:</i> {{ message[1] }}
        <i>On:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
        <hr>
        {% endfor %}

        {% if session.user_id %}

        <h3>Send message</h3>
        <form action="/send" method="POST">
            Message: <br>
            <textarea name="content" rows="3" cols="40"></textarea>
            <br>
            <input type="submit" value="Send">
            <input type="hidden" name="thread_id" value="{{ messages[0][3]  }}">
            <input type="hidden" name="topic_id" value="{{ messages[0][4] }}">
        </form>
        <br>
    </body>
Logged in.
<br>
<br>
<a href="/logout">Log out</a>

{% else %}

<a href="/login">Log in</a>

{% endif %}

<br>
<a href="/">Main page</a> 

</html>