<!DOCTYPE html>
<html>
    <head>
        <meta charset utf-8></meta>
        <title>Forum</title>
        <link rel="stylesheet" href="/static/stylesheet.css">
    </head>
<body>
<h2>{{ topic[0]|upper }}</h2>
<table>
    <thead>
        <td><b>Subject / Started by:</b></td>
        <td><b>Messages</b></td>
        <td><b>Last post</b></td>
    </thead>
    <tbody>
    {% for thread in threads %}
    <tr>
        <td>
            <a href="{{ links[thread[4]].url }}">{{ links[thread[4]].name }}</a> / <br>
            {{ thread[1] }}
        </td>
        <td>{{ m_count[thread[4]]}}</td>
        <td>{{ last_m[thread[4]][2].strftime("%Y-%m-%d %H:%M:%S") }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
{% if session.user_id %}
Logged in.
<br>
<div style="display: flex;">
    <form action="/new_thread" method="POST">
        <input type="hidden" name="topic_id" value="{{ topic[1] }}">
        <button type="submit">New thread</button>
    </form>
</div>

<br>
<a href="/">Main page</a> | <a href="/logout">Log out</a>
{% else %}
<a href="/login">Log in</a>
{% endif %}
</body>
</html>