<!DOCTYPE html>
<html>
    <head>
        <meta charset utf-8></meta>
        <title>Forum</title>
        <link rel="stylesheet" href="/static/stylesheet.css">
    </head>
<body>
<h2>{{ topic[0]|upper }}</h2>
<table>
    <thead>
        <td><b>Subject / Started by:</b></td>
        <td><b>Messages</b></td>
        <td><b>Last post</b></td>
    </thead>
    <tbody>
    {% if session.user_id is defined and topic[2] == True %}
        {% if sroom_user_list[session.user_id][1] == topic[1] %}
        {% for thread in threads %}
        <tr>
            <td>
                <a href="{{ links[thread[4]].url }}">{{ links[thread[4]].name }}</a> / <br>
                {{ thread[1] }}
            </td>
            <td>{{ m_count[thread[4]]}}</td>
            
            {% if m_count[thread[4]] == 0 %}
            <td>No posts!</td>
            
            {% else %}
            <td>{{ last_m[thread[4]][2].strftime("%Y-%m-%d %H:%M:%S") }}</td>
            {% endif %}    
        </tr>
        {% endfor %}
        {% endif %}
    {% else %}
        {% for thread in threads %}
        <tr>
            <td>
                <a href="{{ links[thread[4]].url }}">{{ links[thread[4]].name }}</a> / <br>
                {{ thread[1] }}
            </td>
            <td>{{ m_count[thread[4]]}}</td>
            <td>{{ last_m[thread[4]][2].strftime("%Y-%m-%d %H:%M:%S") }}</td>
        </tr>
        {% endfor %}
        
    {% endif %}
    </tbody>
</table>
<br>
<br>
{% if session.user_id %}
Logged in.
<br>
<br>
<div style="display: flex;">
    <form action="/new_thread" method="POST">
        <input type="hidden" name="topic_id" value="{{ topic[1] }}">
        <button type="submit">New thread</button>
    </form>

    {% if topic[2] == True and is_admin %}
    <form action="/sroom_users" method="POST">
        <input type="hidden" name="topic_id" value="{{ topic[1] }}">
        <button type="submit">Manage secret room</button>
    </form>
    {% endif %}
</div>
<br>

<a href="/">Main page</a> | <a href="/logout">Log out</a>
{% else %}
<a href="/login">Log in</a>
{% endif %}
</body>
</html>